// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#create_message_content, .message_comment{
    display: block;
    width: 500px;
}

.message_content{
    display: inline-block;
}

.message_comments{
    margin-left: 20px;
}